html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}
.cabecalho {

}

.conteudo {
	flex: 1 0 auto;
}

.rodape {
	flex-shrink: 0;
	background: #000000;
	color: #FFFFFF;
	padding: 20px 0 20px 0;
	position: relative;
}

.nomeRodape{
	display: inline-block;
	width: 47%;
	margin: 0 1.5%;
	text-align: right;
}

.tituloRedes {
	display: inline-block;
	width: 46%;
	margin: 0 1.5%;
	text-align: right;
}



